---
import SecondTitle from '../../atoms/SecondTitle.astro'
import ProjectCardV2 from '../../molecules/ProjectCardV2.astro'
---

<section
id="projects"
  class='max-w-[100vw] flex flex-col w-full flex-1 justify-center items-center'
>
  <SecondTitle sub='A small selection of some of my latest works'
    >Works</SecondTitle
  >

  <div class='projects'>
    <article class='project-grid grid-el-1'>
      <ProjectCardV2
        id='project-codefend'
        url='/img/CODEFEND-PROJECT.webp'
        name='Codefend'
        desc='Codefend is a webapp where I was working on the frontend, it allows companies to upload their resources, applications and request a pentest, codefend will provide a provider that scans these. It also offers intelligence services'
      />
    </article>
    <article class='project-grid grid-el-2'>
      <ProjectCardV2
        id='project-gamegalaxy'
        url='/img/GAME-GALAXY-PROJECT.png'
        name='Game Galaxy'
        desc="It's a small platform I made to be able to play some simple classic games, like tetris, snakeling, from the web."
      />
    </article>
    <article class='project-grid grid-el-3'>
      <ProjectCardV2
        id='project-booksleaks'
        url='/img/BOOKS-LEAKS-PROJECT.png'
        name='Books Leaks'
        desc='This is an Ecommerce for purchasing books, with a shopping cart, search with filters and administrative dashboard'
      />
    </article>
    <article class='project-grid grid-el-4'>
      <ProjectCardV2
        id='project-gptweb'
        url='/img/GPT-WEB-PROJECT.png'
        name='GPT Landing'
        desc='It is a landing page that shows information about the GPT 3 release, it only shows simulated information with a nice design.'
      />
    </article>
    <article class='project-grid grid-el-5'>
      <ProjectCardV2
        id='project-invoicer'
        url='/img/FACTURADOR-MASMAS-PROJECT.webp'
        name='Invoicer++'
        desc='Invoicer++ is an open source application to generate commercial documents, created for students who are learning to create these, so they do not need to waste time and can save time.'
      />
    </article>
    <article class='project-grid grid-el-6'>
      <ProjectCardV2
        id='project-invoicer'
        url='/img/CASH_NOW_PROJECT.png'
        name='Cash Now'
        desc='At Cash Now I was working on the backend, this webapp was created to allow people to request a loan from a financial institution, be able to manage the installments and have an interest calculator on the loans.'
      />
    </article>
  </div>
</section>

<style>
  section {
    border-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 15%,
      rgb(28 4 74) 36%,
      rgb(40 12 94) 46%,
      rgb(40 12 94) 54%,
      rgb(28 4 74) 64%,
      rgba(255, 255, 255, 0) 85%
    );
    border-block-start: 1px solid;
    padding-block-start: 3rem;
    margin-block-start: 1rem;
    border-image-slice: 1;
    border-radius: 10px;
    border-collapse: collapse;
    background: linear-gradient(
      90deg,
      transparent,
      rgb(18 3 46 / 90%),
      transparent
    );
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .projects {
    width: 100%;
    max-width: 1128px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 132px;
    justify-items: center;
    align-items: center;

    margin-block-start: 3rem;

    display: flex;
    flex-flow: nowrap column;
  }

  .project-grid {
    position: relative;
    overflow: visible;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
  }

  .grid-el-1 {
  }
   .grid-el-1 ,
   .grid-el-2,
  .grid-el-3,.grid-el-4,.grid-el-5 {
    margin-block-start: 0rem;
    margin-block-end: 4rem;
  }

  @media only screen and (min-width: 1200px) {
    .projects {
      display: grid;
      width: 1128px;
      grid-auto-columns: 1fr;
      grid-column-gap: 40px;
      grid-row-gap: 16px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto auto;
    }

    .project-grid {
      display: block;
      grid-column-end: span 1;
      grid-row-start: span 1;
      grid-row-end: span 1;
    }
    .grid-el-2 {
      margin-block-start: 11.25rem;
    }
    .grid-el-3 {
      margin-block-start: -15rem;
    }
    .grid-el-4 {
      margin-block-start: -5rem;
    }
     .grid-el-5 {
      margin-block-start: -1rem;
    }
    .grid-el-6 {
      margin-block-start: 12.5rem;
    }
  }
</style>

<script>
  import Atropos from 'atropos'

  const link = document.createElement('link')
  link.rel = 'stylesheet'
  link.href = `/node_modules/atropos/atropos.min.css`

  function initAtropos() {
    const projectAtroposContents = document.querySelectorAll(
      '.project-atropos-content'
    )
    projectAtroposContents.forEach((e) => {
      const myAtropos = Atropos({
        el: e as HTMLElement,
        alwaysActive: true,
        activeOffset: 40,
        rotateXMax: 13,
        rotateYMax: 13,
        shadowOffset: 40,
        duration: 280
      })
    })
  }
  document.addEventListener('DOMContentLoaded', (event) => {
    document.head.insertAdjacentElement('afterbegin', link)
    initAtropos()
  })
</script>
