---
import ProjectCardV2 from '../../molecules/ProjectCardV2.astro'
---

<link rel='stylesheet' href='/node_modules/atropos/atropos.min.css' />
<section
  class='max-w-[100vw] flex flex-col w-full flex-1 justify-center items-center'
>
  <h2 class='title-section bg-clip-text text-transparent'>Works</h2>
  <h3 class='sub-title'>A small selection of some of my latest works</h3>
  <div class='projects'>
    <article class='project-grid grid-el-1'>
      <ProjectCardV2
        id='project-codefend'
        url='/img/CODEFEND-PROJECT.png'
        name='Codefend'
        desc='It is a project that allows companies and pentesters to connect. The company can upload different resources and request a pentest of a part of its resources from the providers.'
      />
    </article>
    <article class='project-grid grid-el-2'>
      <ProjectCardV2
        id='project-gamegalaxy'
        url='/img/GAME-GALAXY-PROJECT.png'
        name='Game Galaxy'
        desc='It is a small platform where you can play some simple classic games, such as tetris, snakeling.'
      />
    </article>
    <article class='project-grid grid-el-3'>
      <ProjectCardV2
        id='project-booksleaks'
        url='/img/BOOKS-LEAKS-PROJECT.png'
        name='Books Leaks'
        desc='This is an Ecommerce for purchasing books, with a shopping cart, search with filters and administrative dashboard'
      />
    </article>
    <article class='project-grid grid-el-4'>
      <ProjectCardV2
        id='project-gptweb'
        url='/img/GPT-WEB-PROJECT.png'
        name='GPT Landing'
        desc='It is a landing page that shows information about the GPT 3 release, it only shows simulated information with a nice design.'
      />
    </article>
  </div>
</section>

<style>
  section {
    border-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 15%,
      rgb(28 4 74) 36%,
      rgb(40 12 94) 46%,
      rgb(40 12 94) 54%,
      rgb(28 4 74) 64%,
      rgba(255, 255, 255, 0) 85%
    );
    border-block-start: 1px solid;
    padding-block-start: 3rem;
    margin-block-start: 1rem;
    border-image-slice: 1;
    border-radius: 10px;
    border-collapse: collapse;
    background: linear-gradient(
      90deg,
      transparent,
      rgb(18 3 46 / 90%),
      transparent
    );
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  h2.title-section {
    font-size: 3.5rem;
    font-weight: 700;
    background-image: var(--ml-text-white); /* Aquí */
    line-height: 3rem;
  }

  h3.sub-title {
    opacity: 0.8;
    font-size: 1rem;
    font-weight: 500;
  }

  .projects {
    display: grid;
    width: 1128px;
    max-width: 1128px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 132px;
    justify-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
    margin-block-start: 3rem;
  }

  .project-grid {
    position: relative;
    overflow: visible;
    width: 100%;
    height: 100%;

    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  .grid-el-1 {
  }
  .grid-el-2 {
    margin-block-start: 11.25rem;
  }
  .grid-el-3 {
    margin-block-start: -11.25rem;
  }
</style>

<script>
  import Atropos from 'atropos'

  const link = document.createElement('link')
  link.rel = 'stylesheet'
  link.href = `/node_modules/atropos/atropos.min.css`

  function initAtropos() {
    const projectAtroposContents = document.querySelectorAll(
      '.project-atropos-content'
    )
    projectAtroposContents.forEach((e) => {
      const myAtropos = Atropos({
        el: e as HTMLElement,
        alwaysActive: true,
        activeOffset: 40,
        rotateXMax: 13,
        rotateYMax: 13,
        shadowOffset: 40,
        duration: 280
      })
    })
  }
  document.addEventListener('DOMContentLoaded', (event) => {
    document.head.insertAdjacentElement('afterbegin', link);
    initAtropos()
    });
</script>
