---
interface Props {
  title: string
  desc: string
  img: string
  id: string
  style?: { width: string }
  position?: string
  color: { top: string; mid: string; bottom: string }
  isPublic?: boolean
}

const {
  title,
  desc,
  img,
  id,
  style = { width: '50%' },
  position = 'center',
  color,
  isPublic = true
} = Astro.props
---

<article
  id={id}
  style={{
    '--pad-be': style.width,
    '--bg-position': position,
    '--color-top': color.top,
    '--color-mid': color.mid,
    '--color-bottom': color.bottom
  }}
>
  <picture class='bg-img' style={{ backgroundImage: `url(${img})` }}> </picture>
  <div class='project-content'>
    <h3>{title} <span>{isPublic ? 'Public' : 'Private'}</span></h3>
    <p>{desc}</p>
  </div>
</article>

<style>
  article {
    position: relative;
    display: flex;
    border-radius: 10px;
    cursor: pointer;
    flex: 1 1;

    &:hover {
      .project-content {
        opacity: 1;
      }
      .bg-img {
        filter: blur(3.5px) sepia(0.15) saturate(0.85) contrast(1.075);
        transform: scale(1.0175);
      }
    }
  }
  article::before {
    content: '';
    display: block;
    padding-block-end: var(--pad-be);
  }
  .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    background-position: var(--bg-position);
    background-size: cover;
    transition:
      filter 500ms ease,
      transform 300ms linear;
  }

  .project-content {
    opacity: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    flex: 1 1;
    top: 0;
    left: 2%;
    margin: 5px;

    overflow: hidden;
    max-width: 100%;
    width: 100%;

    transition: opacity 300ms ease;

    h3 {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-weight: 700;
      font-size: 1.55rem;
      word-spacing: 2px;
      padding-inline-start: 5px;
      padding-block-start: 2px;
      color: transparent;
      background: linear-gradient(
        176deg,
        var(--color-top) 40%,
        var(--color-mid) 85%,
        var(--color-bottom) 100%
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;

      span {
        font-size: 1.1rem;
        padding-inline-end: 2rem;
        text-shadow: -3px 1px 20px #1f1e1e54;
        color: var(--color-bottom);
        background-clip: initial;
        -webkit-text-fill-color: initial;
      }
    }

    p {
      padding-inline-start: 8px;
      padding-inline-end: 1.85rem;
      margin-block-start: 0.25rem;
    }
  }
</style>
