---
import HeroLeft from "../organisms/HeroLeft.astro";
---

<section slot="left" class="hero-left">
  <HeroLeft />
</section>
<section slot="right" class="hero-img ">
  <div class="img-container">
    <picture class="w-full h-full flex">
      <img
        src="/public/img/hero-banner2.webp"
        role="img"
        alt="Hero banner"
        width="500"
        height="500"
        itemprop="img"
      />
    </picture>
  </div>
</section>

<style>
  .hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .hero-img {
    display: none;

        @media only screen and (min-width: 1000px) {
            & {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

  .img-container {
    width: 95%;
    height: auto;

      @media screen and (min-width: 1700px) {
        & {
            width: calc(500px + 19dvh);
            height: calc(500px + 20dvh);
        }
    }
  }

  .img-container picture img {
    width: 100%;
    height: auto;
    object-position: center;
    object-fit: cover;
  }



</style>
