---
import ProjectCard from '../molecules/ProjectCard.astro'
---

<section
  class='max-w-[100dvw] flex flex-col w-full flex-1 justify-center items-center'
>
  <main>
    <div class='first-project project-title m-2'>
      <h2>
        <span>Some</span>
        <span class='red-title'>Projects</span>
      </h2>
      <div class='bg-title-project'></div>

    </div>
    <div class='second-project m-2'>
      <ProjectCard
        title='Codefend'
        img='/img/codefend2.png'
        desc=''
        id='Codefend'
        style={{ width: '58%' }}
        color={{top: "#344657", mid: "#273848", bottom: "#1F2B36"}}
      />
    </div>
    <div class='third-project m-2'>
      <ProjectCard
        title='Paint Ease'
        img='/img/PaintEase.png'
        position='left'
        desc=''
        id='paint-ease'
        style={{ width: '55%' }}
        color={{top: "#115AFB", mid: "#276AFF", bottom: "#457FFF"}}
      />
    </div>

    <div class='fourth-project m-2'>
      <ProjectCard
        title='Clean Architecture'
        
        img='/img/clean-architecture.png'
        desc=''
        
        id='clean-architecture'
        style={{ width: '66%' }}
        color={{top: "#000", mid: "#000", bottom: "#000"}}
      />
    </div>

    <div class='fifth-project m-2'>
      <ProjectCard
        title='Game Galaxy'
        img='/img/game-galaxy.webp'
        desc=''
        id='game-galaxy'
        style={{ width: '66%' }}
        color={{top: "#000", mid: "#000", bottom: "#000"}}
      />
    </div>
    <div class='sixth-project m-2'>
      <ProjectCard
        title='Books Leaks'
        img='/img/books-leaks.webp'
        desc=''
        id='books-leaks'
        style={{ width: '35%' }}
        color={{top: "#76B28B", mid: "#7AC6A1", bottom: "#6ED9AD"}}
      />
    </div>
    <div class='seventh-project m-2'>
      <ProjectCard
        title='GPT3 Website'
        img='/img/gpt3-web.webp'
        desc=''
        id='gpt3-website'
        style={{ width: '78%' }}
        color={{top: "#052F59", mid: "#EA492B", bottom: "#F85537"}}
      />
    </div>
  </main>
</section>

<style>
  section {
    min-height: 100dvh;
    margin-block-start: 3%;
  }

  main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr) repeat(2, 0.75fr) repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);

    grid-template:
      'firstProject firstProject firstProject secondProject secondProject secondProject'
      'firstProject firstProject firstProject secondProject secondProject secondProject'
      'thirdProject thirdProject fourthProject fourthProject  fifthProject  fifthProject'
      'thirdProject thirdProject fourthProject fourthProject  fifthProject  fifthProject'
      'sixthProject sixthProject sixthProject sixthProject  seventhProject  seventhProject'
      'sixthProject sixthProject sixthProject sixthProject  seventhProject  seventhProject';
  }

  h2 {
    display: flex;
    font-size: 4rem;
    gap: 1rem;
    font-weight: 700;
    line-height: 5rem;
    letter-spacing: 0.2px;
    flex-direction: column;
    position: absolute;
    z-index: 100;
    inset: 0;
    top: 13%;
    text-align: center;
    user-select: none;

    transition-property: scale;
    transition-duration: 500ms;
    transition-timing-function: ease;

    span {
      letter-spacing: 3px;
      mix-blend-mode: color-dodge;
      filter: brightness(1.05) contrast(1.75) saturate(0.65);
      text-shadow: 3px 3px 15px rgb(24 24 24 / 50%);
    }

    &:hover {
        scale: 1.065;

       + .bg-title-project {
        filter: blur(3px) brightness(0.55) contrast(1.1) opacity(0.95)
          saturate(1.35);
      }
    }
  }

  .bg-title-project {
    background: url('/img/project-sample.webp');
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    filter: blur(2px) brightness(0.55) contrast(1.1) opacity(0.95)
      saturate(1.35);
    transition-property: filter;
    transition-duration: 150ms;
    transition-timing-function: ease;

    &:hover {
      filter: blur(3px) brightness(0.55) contrast(1.1) opacity(0.95)
        saturate(1.35);
    }
  }

  .first-project {
    grid-area: firstProject;
    position: relative;
  }

  .second-project {
    grid-area: secondProject;
  }
  .third-project {
    grid-area: thirdProject;
    min-width: 65px;
  }
  .fourth-project {
    grid-area: fourthProject;
  }
  .fifth-project {
    grid-area: fifthProject;
  }
  .sixth-project {
    grid-area: sixthProject;
  }
  .seventh-project {
    grid-area: seventhProject;
  }
</style>
