---

---

<button type='submit' role='button'>Send</button>

<style>
  button {
    border-radius: 0.5rem;
    padding: 10px;
    margin: 10px auto;
    width: 80%;
    display: block;
    font-weight: 600;
    font-size: 1.1rem;
    background-color: #4c0098;
    color: white;
    box-shadow: 2px 4px 8px rgb(70 70 70 / 18%);
  }
</style>
