---
import BentoCenterDecoration from './BentoCenterDecoration.astro'
import BentoContactItem from './BentoContactItem.astro'
import BentoExperienceItem from './BentoExperienceItem.astro'
import BentoExperticeItem from './BentoExperticeItem.astro'
import BentoMoreProjectsItem from './BentoMoreProjectsItem.astro'
import BentoProfileItem from './BentoProfileItem.astro'
import BentoStackItem from './BentoStackItem.astro'
import BentoWhoIamItem from './BentoWhoIamItem.astro'
---

<div class='bento'>
  <BentoExperticeItem />
  <BentoExperienceItem />
  <BentoProfileItem />
  <BentoCenterDecoration />
  <BentoWhoIamItem />
  <BentoMoreProjectsItem />
  <BentoStackItem />
  <BentoContactItem />
</div>

<style>
  .bento {
    --bento-w: 99%;
    --bento-h: auto;
    --bento-min-w: 1534px;

    --bento-w-col-1: 100%;
    --bento-min-w-col-1: 100px;
    --bento-max-w-col-1: none;

    --bento-w-col-2: 100%;
    --bento-min-w-col-2: 300px;
    --bento-max-w-col-2: none;

    --bento-w-col-3: 400px;
  }
  .bento {
    display: grid;
    width: var(--bento-w);
    height: var(--bento-h);
    max-width: var(--bento-min-w);

    grid-column-gap: 15px;
    grid-row-gap: 22px;
    margin-block-end: 6rem;
    margin-block-start: 1.5rem;
    justify-content: center;

    grid-template:
      'devProfile        devProfile  devProfile'
      'devProfile        devProfile  devProfile'
      'yearsExpirence    yearsExpirence     logoIam'
      'whoIam            whoIam      whoIam'
      'whoIam            whoIam      whoIam'
      'devStack          devStack    devStack'
      'devStack          devStack    devStack'
      'developmentAreas  developmentAreas developmentAreas'
      'morePorjects  morePorjects morePorjects'
      'letsWork  letsWork letsWork';
  }
  @media only screen and (min-width: 840px) {
    .bento {
      grid-column-gap: 30px;
      grid-row-gap: 25px;
      grid-template:
        'yearsExpirence   devProfile'
        'yearsExpirence   devProfile'
        'devStack         devProfile'
        'devStack         logoIam'
        'devStack         whoIam'
        'devStack         whoIam'
        'devStack         whoIam'
        'developmentAreas morePorjects'
        'letsWork         letsWork';
    }
  }

  @media only screen and (min-width: 1225px) {
    .bento {
      --bento-w-col-1: 430px;
    }
  }
  @media only screen and (min-width: 1135px) {
    .bento {
      grid-template:
        'yearsExpirence   devProfile devProfile'
        'yearsExpirence   devProfile devProfile'
        'devStack         devProfile devProfile'
        'devStack         logoIam logoIam'
        'devStack         whoIam whoIam'
        'devStack         whoIam whoIam'
        'devStack         whoIam whoIam'
        'developmentAreas morePorjects morePorjects'
        'developmentAreas letsWork letsWork';
    }
  }

  @media only screen and (min-width: 1480px) {
    .bento {
      --bento-w-col-1: 292px;
      --bento-min-w-col-2: 625px;
      --bento-max-w-col-2: 700px;
      grid-template:
        'yearsExpirence  devProfile   morePorjects '
        'yearsExpirence  devProfile   morePorjects '
        'devStack        devProfile   developmentAreas '
        'devStack        logoIam      developmentAreas '
        'devStack        whoIam       developmentAreas '
        'devStack        whoIam       letsWork '
        'devStack        whoIam       letsWork ';
    }
  }

  @media only screen and (min-width: 1700px) {
    .bento {
      --bento-w-col-1: 305px;
      --bento-min-w-col-2: 810px;
      --bento-max-w-col-2: none;
      --bento-w-col-3: 430px;
    }
  }
</style>
