---
import CoffeeIcon from '../../atoms/CoffeeIcon.astro'
import CountryIcon from '../../atoms/CountryIcon.astro'
import DownloadIcon from '../../atoms/DownloadIcon.astro'
import EducationIcon from '../../atoms/EducationIcon.astro'
import GithubWithBGIcon from '../../atoms/GithubWithBGIcon.astro'
import GlobalIcon from '../../atoms/GlobalIcon.astro'
import GoodBoyIcon from '../../atoms/GoodBoyIcon.astro'
import SecondTitle from '../../atoms/SecondTitle.astro'
---

<section
  class='max-w-[100vw] flex flex-col w-full flex-1 justify-center items-center'
>
  <SecondTitle sub='A small selection of some of my latest works'
    >About me</SecondTitle
  >

  <div class='bento'>
    <div class='bento-item bento-col-1 bento-item-1'>
      <div
        class='highlight-text text-[5rem] text-center bg-clip-text text-transparent'
      >
        01<span class='pus-icon'>+</span>
      </div>
      <div
        class='chip-style w-[240px] h-[48px] text-[24px] mx-auto leading-[25px]'
      >
        Years Expertise
      </div>
    </div>
    <div class='bento-item bento-col-1 bento-item-2'>
      <div
        class='highlight-text text-[3.5rem] pl-[1rem] text-left bg-clip-text text-transparent'
      >
        Stack
      </div>
    </div>
    <div class='bento-item bento-col-2 bento-item-3'>
      <div class='content-my-info'>
        <img
          class='photo'
          src='/img/FOTO_CV.webp'
          width='135px'
          height='140px'
          alt='My photo'
        />
        <div class='information'>
          <div class='two-texts'>
            <span class='space-in-text'>
              <div class='pulse-contianer'>
                <div class='pulse-position pulse-gray'></div>
                <div class='pulse-position pulse-green'></div>
                <div class='pulse-position pulse-active'></div>
              </div>
              Available for work
            </span>
            <span class='space-in-text cursor-pointer'
              >Resume <DownloadIcon /></span
            >
          </div>
          <h2 class='my-name'>Marcos Lopez</h2>
        </div>
      </div>
      <div
        class='chip-style w-auto text-[24px] ml-[10rem] mt-[10px] h-[90px] flex flex-row flex-wrap !justify-start px-[18px] gap-x-[20px]'
      >
        <span
          class='text-[.975rem] font-medium inline-flex justify-center items-center gap-x-3'
          ><CountryIcon /> Argentina</span
        >
        <span
          class='text-[.975rem] font-medium inline-flex justify-center items-center gap-x-3'
          ><EducationIcon /> IT technician</span
        >
        <span
          class='text-[.975rem] font-medium inline-flex justify-center items-center gap-x-3'
          ><GlobalIcon /> Spanish & English</span
        >
        <span
          class='pl-[.3rem] text-[.975rem] font-medium inline-flex justify-center items-center gap-x-3'
          ><GoodBoyIcon /> A god boy</span
        >
        <span
          class='text-[.975rem] font-medium inline-flex justify-center items-center gap-x-3'
          ><CoffeeIcon /> I love a coffee</span
        >
      </div>
    </div>
    <div class='bento-item bento-col-2 bento-item-4'>4</div>
    <div class='bento-item bento-col-2 bento-item-5'>5</div>
    <div class='bento-item bento-col-3 bento-item-6'>
      <h2 class='title'>More porjects</h2>
      <p class='text'>You can find more of my projects on github</p>
      <div class='github-btn justify-center items-center ml-auto mt-4 cursor-pointer'><GithubWithBGIcon /> <span>Go to github</span></div>
    </div>
    <div class='bento-item bento-col-3 bento-item-7'>7</div>
    <div class='bento-item bento-col-3 bento-item-8'>8</div>
  </div>
</section>

<style>
  .bento {
    --bento-w: 100%;
    --bento-h: auto;
    --bento-min-w: 1534px;

    --bento-w-col-1: 305px;
    --bento-w-col-2: 100%;
    --bento-min-w-col-2: 810px;
    --bento-w-col-3: 430px;
  }
  .bento {
    display: grid;
    width: var(--bento-w);
    height: var(--bento-h);
    max-width: var(--bento-min-w);
    grid-column-gap: 30px;
    grid-row-gap: 25px;
    margin-block-end: 6rem;
    margin-block-start: 1.5rem;
    justify-content: center;

    grid-template:
      'yearsExpirence  devProfile   morePorjects '
      'yearsExpirence  devProfile   morePorjects '
      'devStack        devProfile   developmentAreas '
      'devStack        logoIam      developmentAreas '
      'devStack        whoIam       developmentAreas '
      'devStack        whoIam       letsWork '
      'devStack        whoIam       letsWork ';

    .bento-item-1 {
      grid-area: yearsExpirence;
      height: 200px;
    }
    .bento-item-2 {
      grid-area: devStack;
      height: 490px;
    }
    .bento-item-3 {
      grid-area: devProfile;
      height: 290px;
      display: flex;
      flex-direction: column;
      padding: 1.3rem;

      .content-my-info {
        display: flex;
        flex-direction: row;
        column-gap: 1.35rem;

        .photo {
          object-fit: cover;
          object-position: center;
          border-radius: 14px;
          min-width: 135px;
          max-height: 150px;
        }

        .information {
          display: flex;
          flex-direction: column;
          width: 100%;

          .two-texts {
            display: flex;
            justify-content: space-between;
            font-weight: 400;

            .space-in-text {
              display: inline-flex;
              column-gap: 6px;
              justify-content: center;
              align-items: center;
            }
          }

          .my-name {
            font-size: 3.15rem;
            max-width: 200px;
            font-weight: 700;
            line-height: 60px;
          }
        }
      }
    }
    .bento-item-4 {
      grid-area: logoIam;
      height: 135px;
    }
    .bento-item-5 {
      grid-area: whoIam;
      height: 240px;
    }
    .bento-item-6 {
      grid-area: morePorjects;
      height: 200px;
      padding: 1rem;
      padding-inline-start: 1.75rem;

      .title {
        font-size: 2.5rem;
        font-weight: 600;
      }
      .text {
        font-size: 1rem;
        max-width: 170px;
      }
      .github-btn {
        display: flex;
        column-gap: 10px;
        width: 168px;
        height: 37px;
        background: linear-gradient(
          88.61deg,
          rgba(12, 11, 11, 0.79) 8.26%,
          #000000 99.14%
        );
        border-radius: 20px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #ffffff;
      }
    }
    .bento-item-7 {
      grid-area: developmentAreas;
    }
    .bento-item-8 {
      grid-area: letsWork;
      height: 203px;
    }
  }

  .highlight-text {
    font-family: 'Manrope';
    font-weight: 700;
    background-image: var(--ml-text-white);
    text-transform: uppercase;

    .pus-icon {
      font-size: 3rem;
      line-height: 8rem;
      vertical-align: bottom;
    }
  }

  .chip-style {
    box-sizing: border-box;
    background: linear-gradient(
      299.25deg,
      rgba(20, 0, 48, 0.175) 27.3%,
      rgba(50, 17, 106, 0.5) 66.15%
    );
    border: 1px solid rgba(33, 0, 87, 0.2);
    box-shadow:
      inset -1px -6px 16px rgba(35, 0, 70, 0.25),
      inset 6px 8px 24px rgba(30, 0, 60, 0.83);
    backdrop-filter: blur(8px);
    border-radius: 15px;
    font-family: 'Manrope';
    font-weight: 500;
    color: #dedede;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pulse-contianer {
    width: 20px;
    aspect-ratio: 1/1;
    height: auto;
    position: relative;
    flex: none;
    --position-x: 25%;
    --position-y: 25%;

    .pulse-position {
      position: absolute;
      top: var(--position-y);
      left: var(--position-x);
      width: 10px;
      aspect-ratio: 1/1;
      height: auto;
    }

    .pulse-active {
      background-color: rgb(109, 211, 61);
      border-radius: 100%;
      opacity: 1;
      overflow: visible;
      position: relative;
      z-index: 2;
    }

    .pulse-green {
      --pulse-scale: 2.25;
      z-index: 1;
      background-color: rgb(109, 211, 61);
      border-radius: 100%;
      opacity: 0.159888;
      transform-origin: 50% 50%;
      animation: pulse-animation 4s ease 4s infinite alternate forwards;
    }
    .pulse-gray {
      --pulse-scale: 1.75;
      z-index: 1;
      background-color: rgb(195, 255, 168);
      border-radius: 100%;
      opacity: 0.12;
      transform-origin: 50% 50%;
      animation: pulse-animation 4s ease 4s infinite alternate forwards;
    }
  }
  @keyframes pulse-animation {
    0% {
      transform: scale(1);
    }
    30% {
      transform: scale(var(--pulse-scale));
    }
    65% {
      transform: 0;
    }
  }

  .bento-item {
    position: relative;
    box-sizing: border-box;
    background: #27057017;
    border-radius: 10px;
    backdrop-filter: blur(35px);
    outline: 1px solid rgb(168 128 255 / 33%);
    box-shadow: inset -2px -4px 15px 6px rgb(24 1 62 / 16%);
  }

  .bento-col-1 {
    width: var(--bento-w-col-1);
  }
  .bento-col-2 {
    width: var(--bento-w-col-2);
    min-width: var(--bento-min-w-col-2);
    max-width: none;
  }
  .bento-col-3 {
    width: var(--bento-w-col-3);
  }
</style>
