---
import SecondTitle from '../../atoms/SecondTitle.astro'
import AboutBento from './AboutBento.astro'
---

<section
  id='about'
  class='max-w-[100vw] flex flex-col w-[99%] flex-1 justify-center items-center'
>
  <SecondTitle sub='A small selection of some of my latest works'
    >About me</SecondTitle
  >

  <AboutBento />
</section>
