---
import GithubWithBGIcon from '../../atoms/GithubWithBGIcon.astro'
import BentoItem from '../../templates/BentoItem.astro'
---

<BentoItem class='bento-item-6'>
  <h2 class='bg-ml-text-white bg-clip-text text-transparent title'>
    More porjects
  </h2>
  <p class='text'>You can find more of my projects on github</p>
  <div
    class='github-btn justify-center items-center ml-auto mt-4 cursor-pointer'
  >
    <GithubWithBGIcon />
    <span>Go to github</span>
  </div>
</BentoItem>

<style>
  :global(.bento-item-6) {
    grid-area: morePorjects;
    height: 200px;
    padding: 1rem;
    padding-inline-start: 1.75rem;
    width: var(--bento-w-col-2);
    max-width: 750px;

    .title {
      font-weight: 600;
      font-size: 3rem;
      margin-block-end: 0.2rem;
    }

    .text {
      font-size: 1rem;
      max-width: 190px;
      letter-spacing: 0.3px;
      word-spacing: 0.5px;
    }

    .github-btn {
      display: flex;
      column-gap: 10px;
      width: 168px;
      height: 42px;
      background: linear-gradient(
        88.61deg,
        rgba(12, 11, 11, 0.79) 8.26%,
        #000000 99.14%
      );
      border-radius: 20px;

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #ffffff;
    }
  }

  @media only screen and (min-width: 1700px) {
    :global(.bento-item-6) {
      width: var(--bento-w-col-3);
      max-width: none;
    }
  }
</style>
