---
import Astronaut from '../../atoms/Astronaut.astro'
import CoffeeIcon from '../../atoms/CoffeeIcon.astro'
import CountryIcon from '../../atoms/CountryIcon.astro'
import DownloadIcon from '../../atoms/DownloadIcon.astro'
import EducationIcon from '../../atoms/EducationIcon.astro'
import GlobalIcon from '../../atoms/GlobalIcon.astro'
import GoodBoyIcon from '../../atoms/GoodBoyIcon.astro'
import PulseElement from '../../atoms/PulseElement.astro'
import RectangleProfile from '../../atoms/RectangleProfile.astro'
import TextWithIcon from '../../molecules/TextWithIcon.astro'
import BentoItem from '../../templates/BentoItem.astro'
import ChipTemplate from '../../templates/ChipTemplate.astro'
---

<BentoItem class='bento-col-2 bento-item-3'>
  <div class='flex gap-x-[1rem] min-[840px]:gap-x-[1.35rem]'>
    <RectangleProfile src='/img/FOTO_CV.webp' alt='My photo' />
    <div class='flex flex-col w-full'>
      <div class='flex justify-between'>
        <span class='space-in-text'>
          <PulseElement />
          Available for work
        </span>
        <span class='space-in-text cursor-pointer'>Resume <DownloadIcon /></span
        >
      </div>
      <h2 class='my-name bg-clip-text text-transparent'>Marcos Lopez</h2>
    </div>
    <Astronaut />
  </div>
  <ChipTemplate
    class='fixed-style w-auto flex flex-row flex-wrap flex-1 !justify-start text-[24px] ml-[.25rem] mt-[15px] py-[8px] h-[95px] px-[18px] gap-y-[4px] gap-x-[15px] min-[840px]:mt-[10px] min-[1100px]:h-[90px] min-[1225px]:gap-x-[18px] min-[1225px]:ml-[9rem]'
  >
    <TextWithIcon text='Argentina'><CountryIcon /></TextWithIcon>
    <TextWithIcon text='IT technician'><EducationIcon /></TextWithIcon>
    <TextWithIcon text='Spanish & English'><GlobalIcon /></TextWithIcon>
    <TextWithIcon text='A good boy' addSpace><GoodBoyIcon /></TextWithIcon>
    <TextWithIcon text='I love a coffee'><CoffeeIcon /></TextWithIcon>
  </ChipTemplate>
</BentoItem>

<style>
  :global(.bento-item-3) {
    grid-area: devProfile;
    height: 315px;
    display: flex;
    flex-direction: column;
    padding: 1.3rem;
    --astronaut-right: 10%;
    --name-size: 2.75rem;
    --name-h: 50px;

    .my-name {
      font-size: var(--name-size);
      max-width: 200px;
      font-weight: 700;
      line-height: var(--name-h);
      background-image: var(--ml-text-white);
    }
    :global(#astronaut) {
      position: absolute;
      display: none;
      z-index: 5;
      right: var(--astronaut-right);
      top: 0px;
    }
  }

  @media only screen and (min-width: 840px) {
    :global(.bento-item-3) {
      height: 100%;
      --name-size: 3.15rem;
      --name-h: 60px;
    }
  }

  @media only screen and (min-width: 1070px) {
    :global(.bento-item-3) {
      :global(#astronaut) {
        display: block;
      }
    }
  }

  @media only screen and (min-width: 1480px) {
    :global(.bento-item-3) {
      height: 290px;
      --astronaut-right: 120px;
    }
  }
</style>
