---
import BentoItem from '../../templates/BentoItem.astro'
---

<BentoItem class='bento-col-2 bento-item-5'>
  <h2 class='bg-ml-text-white title bg-clip-text text-transparent'>
    Who I am?
  </h2>
  <p>
    I am a <span class='font-semibold'>computer technician</span>, passionate
    about programming and technology. Experience in back-end development with
    Spring boot and front-end development with React or Angular. Proficient in
    agile methodologies and team collaboration. Always eager to learn and
    explore new technologies.
  </p>
</BentoItem>

<style>
  :global(.bento-item-5) {
    grid-area: whoIam;
    height: 315px;
    padding-inline-start: 30px;
    padding-block-start: 10px;
    --text-max-w: 735px;
    --text-p-end: 0px;

    .title {
      font-size: 3rem;
      font-weight: 700;
      margin-block-end: 0.5rem;
    }

    p {
      line-height: 30px;
      font-size: 1.2rem;
      max-width: var(--text-max-w);
      padding-inline-end: 12px;
      padding-block-end: var(--text-p-end);
    }
  }

  @media only screen and (min-width: 550px) {
    :global(.bento-item-5) {
      height: 290px;
    }
  }

  @media only screen and (min-width: 840px) {
    :global(.bento-item-5) {
      height: 100%;
    }
  }

  @media only screen and (min-width: 1020px) {
    :global(.bento-item-5) {
      --text-max-w: 810px;
      --text-p-end: 8px;
    }
  }

  @media only screen and (min-width: 1480px) {
    :global(.bento-item-5) {
      height: 240px;
      --text-max-w: 735px;
      --text-p-end: 0px;
    }
  }
</style>
