---
interface Props {
  styles: string;
}

const { styles } = Astro.props;
---

<div
  class="text-center"
  aria-hidden="true"
  role="img"
  class:list={[`${styles}`]}
>
  <svg
    class="linkedin"
    width="1.2rem"
    height="1.2rem"
    viewBox="0 0 18 18"
    fill="none"
  >
    <path
      d="M14.2449 17.3229H16.9775C17.0765 17.3229 17.1715 17.2836 17.2415 17.2135C17.3116 17.1435 17.3509 17.0486 17.351 16.9495L17.3524 11.176C17.3524 8.15836 16.7021 5.83884 13.1756 5.83884C11.8351 5.78899 10.5709 6.48004 9.88874 7.63396C9.88541 7.63956 9.88033 7.64392 9.87428 7.64637C9.86824 7.64882 9.86156 7.64922 9.85526 7.64752C9.84897 7.64582 9.8434 7.6421 9.83942 7.63694C9.83543 7.63177 9.83325 7.62545 9.83319 7.61893V6.49087C9.83319 6.39182 9.79385 6.29684 9.72381 6.22681C9.65378 6.15677 9.5588 6.11743 9.45975 6.11743H6.86651C6.76747 6.11743 6.67248 6.15677 6.60245 6.22681C6.53242 6.29684 6.49307 6.39182 6.49307 6.49087V16.949C6.49307 17.048 6.53242 17.143 6.60245 17.213C6.67248 17.2831 6.76747 17.3224 6.86651 17.3224H9.59895C9.698 17.3224 9.79298 17.2831 9.86301 17.213C9.93305 17.143 9.97239 17.048 9.97239 16.949V11.7794C9.97239 10.3177 10.2497 8.90206 12.0619 8.90206C13.8483 8.90206 13.8715 10.5747 13.8715 11.8741V16.9495C13.8715 17.0485 13.9108 17.1435 13.9808 17.2135C14.0509 17.2835 14.1458 17.3229 14.2449 17.3229ZM0.547668 2.56669C0.547668 3.6744 1.45951 4.58577 2.56722 4.58577C3.67465 4.58568 4.58593 3.67375 4.58593 2.56632C4.58574 1.45889 3.67437 0.547607 2.56684 0.547607C1.45904 0.547607 0.547668 1.45907 0.547668 2.56669ZM1.19736 17.3229H3.93344C4.03248 17.3229 4.12747 17.2835 4.1975 17.2135C4.26753 17.1435 4.30688 17.0485 4.30688 16.9495V6.49087C4.30688 6.39182 4.26753 6.29684 4.1975 6.22681C4.12747 6.15677 4.03248 6.11743 3.93344 6.11743H1.19736C1.09831 6.11743 1.00333 6.15677 0.933296 6.22681C0.863263 6.29684 0.823919 6.39182 0.823919 6.49087V16.9495C0.823919 17.0485 0.863263 17.1435 0.933296 17.2135C1.00333 17.2835 1.09831 17.3229 1.19736 17.3229Z"
      fill="white"></path>
  </svg>
</div>
