---
interface Props {
  to: string;
  target?: string;
  styles?: string;
  title?: string;
}

const { to, target = "", styles = "", title="" } = Astro.props;
const url = Astro.url;
console.log({ url });

const isActive = false;
---

<a
  href={to}
  target={target}
  role="link"
  class:list={[
    `relative group cursor-pointer ${styles}`,
    { "active-link": isActive },
  ]}
  aria-label={title}
>
  <slot />
</a>
