---
interface Props {
  sub: string
}

const { sub } = Astro.props
---

<h2 class='title-section bg-clip-text text-transparent'><slot /></h2>
<h3 class='sub-title'>{sub}</h3>

<style>
  h2.title-section {
    font-size: 3.75rem;
    font-weight: 700;
    background-image: var(--ml-text-white);
    line-height: 4rem;
    padding-block-end: .5rem;
  }

  h3.sub-title {
    opacity: 0.8;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 2rem;
  }
</style>
