---

---

<h1 class='main-title'>
  <slot />
</h1>

<style>
  .main-title {
    display: flex;
    font-weight: 700;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    font-size: clamp(3rem, 18vw, 6.25rem);
    line-height: clamp(3rem, 18dvw, 6.5rem);
    margin-block-start: 1rem;

    @media only screen and (min-width: 700px) {
      & {
        font-size: 7.5rem;
        line-height: 8.5rem;
      }
    }

    @media only screen and (min-width: 980px) {
      & {
        font-size: 6.5rem;
        line-height: 7.5rem;
      }
    }
  }

  .title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2; /* Número de líneas deseadas */
    max-height: 3em;
  }
</style>
