---

---

<h1 class="main-title">
  <slot />
</h1>

<style>
  .main-title {
    display: flex;
    font-weight: 700;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    font-size: 6.5rem;
    line-height: 7rem;
  }

  .title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2; /* Número de líneas deseadas */
    max-height: 3em;
  }
</style>
