---
import ProjectImage from '../atoms/ProjectImage.astro'

interface Props {
  url: string
  name: string
  desc: string
  id: string
}

const { url, name, desc, id } = Astro.props
---

<figure class='project-card-container'>
  <div class='brightness brightness-1'></div>
  <ProjectImage url={url} id={id} />

  <figcaption class='project-caption'>
    <h3 class='bg-clip-text !text-transparent fill-transparent'>{name}</h3>
    <p>
      {desc}
    </p>
  </figcaption>
</figure>

<style>
  .brightness-1 {
    width: 25rem;
    height: 25rem;
    top: 6%;
    left: 12%;
    border-radius: 13%;
    background: rgb(98 48 187 / 30%);
    filter: blur(30px);
    z-index: 0;
  }
  .project-card-container {
    position: relative;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: visible;
  }

  .project-caption {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  h3 {
    font-size: 2rem;
    font-weight: 500;
    background-image: var(--ml-text-white);
  }

  p {
    opacity: 0.9;
    font-size: 0.9rem;
    line-height: 24px;
    max-width: 542px;
  }
</style>
