---
import Navigate from "../molecules/Navigate.astro";
import Pyramid from "../molecules/Pyramid.astro";
import ResumeButton from "../molecules/ResumeButton.astro";
---

<header id="header">
  <div class="header-container">
    <span class="logo">
      <Pyramid />
    </span>

    <nav class="navigation">
      <Navigate text="Home" to="/" />
      <Navigate text="About" to="/" />
      <Navigate text="Contact" to="/" />
    </nav>

    <div class="flex flex-1 items-center justify-end">
      <ResumeButton />
    </div>
  </div>
</header>

<style>
  header {
    width: 100%;
    max-width: 100dvw;
    height: 4.375rem;

    -webkit-backdrop-filter: blur(0.625rem);
    backdrop-filter: blur(0.625rem);
    animation: add-shadow linear both;
    animation-timeline: scroll();
    animation-range: 0 150px;
  }

  .header-container {
    width: 100%;

    background: transparent;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));

    padding-inline: 0.625rem;

    -webkit-backdrop-filter: blur(0.625rem);
    backdrop-filter: blur(0.625rem);
    animation: add-shadow linear both;
    animation-timeline: scroll();
    animation-range: 0 9.375rem;
  }

  .logo {
    display: none;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .navigation {
    font-weight: 500;
    display: flex;
    justify-self: center;
    column-gap: 2.75rem;
  }

  .social-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.75rem;
  }

  @media only screen and (min-width: 500px) {
    .header-container {
      padding: 0 40px;
    }
  }

  @media only screen and (max-width: 700px) {
    .header-container {
      justify-content: center;
      align-items: center;
      justify-items: center;
      align-content: center;
      display: flex;
      margin-block-start: 1rem;
    }

    .social-nav {
      display: none;
    }
  }

  @media only screen and (min-width: 700px) {
    .logo {
      display: flex;

      position: sticky;
    }
  }

  @media only screen and (min-width: 1140px) {
    .header-container {
      justify-content: space-around;
      padding: 0;
    }
  }

  @media screen and (min-width: 1580px) {
    .header-container {
      justify-content: space-between;
    }
    .navigation {
      font-size: 1.8rem;
      column-gap: 2rem;
    }
    .social-nav {
      column-gap: 6rem;
    }
  }

  @keyframes addShadow {
    100% {
      box-shadow: 0 5px 5px -3px hsla(0, 0%, 100%, 0.25);
      background: rgba(0, 0, 0, 0.3);
    }
  }
</style>
