---
import LogoV2 from '../atoms/LogoV2.astro'
import Navigate from '../molecules/Navigate.astro'
import ResumeButton from '../molecules/ResumeButton.astro'
---

<header id='header'>
  <div class='header-container'>
    <LogoV2 />
    
    <nav class='navigation'>
      <Navigate text='Home' to='/' />
      <Navigate text='About' to='/' />
      <Navigate text='Contact' to='/' />
    </nav>

    <div class='resume-btn'>
      <ResumeButton
        to='https://drive.google.com/file/d/1znfQJffUhuawHnsKnSUGa6aGtnA9q1OY/view?usp=sharing'
        ><span>View resume</span></ResumeButton
      >
    </div>
  </div>
</header>

<style>
  header {
    max-width: 1800px;
    width: 100%;
    height: 4.375rem;

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-end: 0.5rem;
    padding-block-start: 0.5rem;
  }

  .header-container {
    width: 100%;

    background: transparent;
    display: flex;
    flex: 1 1;
    align-items: center;
    justify-content: space-between;

    padding-inline: 0.625rem;
  }

  .navigation {
    font-weight: 500;
    display: flex;
    justify-self: center;
    column-gap: 2.75rem;
    flex: 1 1;
    justify-content: center;
    padding-block-end: 3px;
  }

  .resume-btn {
    display: none;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1;

    padding-block-end: 1px;
    padding-block-end: 3px;
  }

  @media only screen and (min-width: 500px) {
    .header-container {
      padding: 0 40px;
    }
  }

  @media only screen and (min-width: 841px) {
    .resume-btn {
      display: flex;
    }
  }

  @media only screen and (max-width: 700px) {
    .header-container {
      justify-content: center;
      align-items: center;
      justify-items: center;
      align-content: center;
      display: flex;
      margin-block-start: 1rem;
    }
  }

  @media only screen and (min-width: 1140px) {
    .header-container {
      justify-content: space-around;
      padding: 0;
    }
  }

  @media screen and (min-width: 1580px) {
    .header-container {
      justify-content: space-between;
    }
    .navigation {
      font-size: 1.8rem;
      column-gap: 2rem;
    }
  }

  @keyframes addShadow {
    100% {
      box-shadow: 0 5px 5px -3px hsla(0, 0%, 100%, 0.25);
      background: rgba(0, 0, 0, 0.2);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
    }
  }
</style>
