---
import Navigate from "../molecules/Navigate.astro";
import Pyramid from "../molecules/Pyramid.astro";
import ResumeButton from "../molecules/ResumeButton.astro";
---

  <header id="header">
  <div class="header-container">
    <span class="logo">
      <Pyramid />
    </span>

    <nav class="navigation">
      <Navigate text="Home" to="/" />
      <Navigate text="About" to="/" />
      <Navigate text="Contact" to="/" />
    </nav>

    <div class="resume-btn">
      <ResumeButton />
    </div>
  </div>
</div>

<style>
  header {
    max-width: 1700px;
    width: 100%;
    height: 4.375rem;

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .header-container {
    width: 100%;

    background: transparent;
    display: flex;
    flex: 1 1;
    align-items: center;
    justify-content: space-between;

    padding-inline: 0.625rem;

  }

  .logo {
    display: none;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
        flex: 1 1;
  }

  .navigation {
    font-weight: 500;
    display: flex;
    justify-self: center;
    column-gap: 2.75rem;
        flex: 1 1;
  }

  .resume-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1;

    padding-block-end: 1px;

  }

  @media only screen and (min-width: 500px) {
    .header-container {
      padding: 0 40px;
    }
  }

  @media only screen and (max-width: 700px) {
    .header-container {
      justify-content: center;
      align-items: center;
      justify-items: center;
      align-content: center;
      display: flex;
      margin-block-start: 1rem;
    }
  }

  @media only screen and (min-width: 700px) {
    .logo {
      display: flex;

      position: sticky;
    }
  }

  @media only screen and (min-width: 1140px) {
    .header-container {
      justify-content: space-around;
      padding: 0;
    }
  }

  @media screen and (min-width: 1580px) {
    .header-container {
      justify-content: space-between;
    }
    .navigation {
      font-size: 1.8rem;
      column-gap: 2rem;
    }
  }

  @keyframes addShadow {
    100% {
      box-shadow: 0 5px 5px -3px hsla(0, 0%, 100%, 0.25);
      background: rgba(0,0,0,.2);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
    }
  }
</style>
