---
import GithubIcon from "../atoms/GithubIcon.astro";
import GmailIcon from "../atoms/GmailIcon.astro";
import LinkedInIcon from "../atoms/LinkedinIcon.astro";
import Title from "../atoms/Title.astro";
import ContactButton from "../molecules/ContactButton.astro";
import ResumeButton from "../molecules/ResumeButton.astro";
import SocialButton from "../molecules/SocialButton.astro";
---

<div class="heading">
  <h2>
    <strong><span>Marcos Lopez</span></strong>
  </h2>
  <Title>
    <span class="white-color max-[1500px]:max-h-[110px]">Full stack</span>
    <span class="red-title max-[1500px]:max-h-[110px]">developer</span>
  </Title>
</div>
<p class="hero-paragraph">
  Marcos Lopez. Full stack developer with experience in React, Angular, Java
  Spring. In addition to knowledge of design, architecture and database
</p>

<div class="hero-socials">
  <SocialButton socialUri="https://www.linkedin.com/in/marcos-lopez-dev" title="Button to linkedIn profile">
    <LinkedInIcon styles="bg-[#0A66C2] fill-white w-fit rounded-full p-[8px]" />
  </SocialButton>
  <SocialButton socialUri="https://github.com/MarcossIC" title="Button to github profile">
    <GithubIcon styles="bg-[#00000085] fill-white w-fit rounded-full p-[4px]" />
  </SocialButton>
  <SocialButton
    socialUri="mailto:marcoslopezdev18@gmail.com?subject=Hey%20Marcos%20how%20are%20you"
    target="_self"
    title="Button for send email to marcoslopezdev18@gmail.com"
  >
    <GmailIcon styles="bg-[#fff] rounded-full p-[4px]" />
  </SocialButton>

  <SocialButton
    socialUri="https://drive.google.com/file/d/1znfQJffUhuawHnsKnSUGa6aGtnA9q1OY/view?usp=sharing"
    target="_self"
  >
    <div class="cv rounded-full p-[4px] font-bold">
      <span>CV</span>
    </div>
  </SocialButton>
</div>

<style>
  .heading {
    user-select: none;
    justify-self: center;
    margin-block-end: 1rem;
    position: relative;

    h2 {
      color: var(--ml-white-100);
      font-size: 1.1rem;
      word-spacing: 1px;
      letter-spacing: 0.1px;
      user-select: none;
      border-radius: 2em;
      background: linear-gradient(
        162deg,
        rgb(50 17 106) 40%,
        rgba(20, 0, 48, 1) 91%
      );
      border: 1px solid rgb(145, 82, 245);

      padding: 5px;
      padding-inline: 15px;
      width: fit-content;

      span {
        color: inherit;
      }
    }
 
  }
     .white-color {
      color: var(--ml-white-100);
    }

  .hero-paragraph {
    font-weight: 400;
    margin-bottom: 1.25rem;
    text-align: left;
    max-width: 35rem;
    padding-inline-start: 7px;
  }

  .hero-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding-inline-start: 8px;

    .cv {
      background-color: var(--ml-accent-100);
    }

    @media only screen and (min-width: 1024px) {
      & {
        justify-content: flex-start;
      }
    }
  }
</style>
