---
import Title from "../../atoms/Title.astro";


---

<section>
  <Title>
    <span class='white-color max-[1500px]:max-h-[110px]'>Work</span>
    <span class='red-title max-[1500px]:max-h-[110px]'>experience</span>
  </Title>

</section>
